@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.main-container {
  background-color: #ffae00;
  margin-top: 30px;
  padding: 30px;
  border-radius: 15px;
}
.main-container .row {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(5);
  gap: 10px;
}

.main-container h1 {
  margin-bottom: 30px;
  color: red;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-size: 3rem;
}
.main-container .cards {
  width: 98%;
  height: 160px;
  background-color: white;
  border-radius: 30px;
}

.main-container .cards img {
  margin-top: 40px;
  height: 60px;
}

.cards-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  margin: 20px 0;
}

.cards:hover img {
  transform: scale(1.4);
  transition: transform 0.8s;
}

.main-container .cards:hover {
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 20px;
  padding: 10px;
  text-align: left;
  transition: all 1s;
}

/* Color Theme Swatches in Hex */
